[submodule "sub1-repository"]
	path = sub1-repository
	url = git@github.com:Inokuchi-Kazuyuki/sub1-repository
[submodule "sub2-repository"]
	path = sub2-repository
	url = git@github.com:Inokuchi-Kazuyuki/sub2-repository
